* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input {
    text-align: center;

}

input[type="text"]{
    margin-top: 3em;
    height: 50px;
    width: 600px;
    background: #e7e7e7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

input[type="submit"]{
    height: 50px;
    width: 100px;
    background: #e7e7e7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.display {
    text-align: center;
}